.header-user {
    height: auto;
    /* position: relative;
    z-index: 1; */
}

.mobile-filter-card {
    display: none;
    background: white;
}

@media (max-width: 767px) {
    .header-user {
        padding-bottom: 0;
    }
    
    .mobile-filter-card {
        display: block;
        padding: 1.5rem;
        margin-top: -20px;
        position: relative;
        z-index: 2;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
    }
}

.sticky-background {
    background-color: white;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.sticky-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.animation-text-header-user {
    border-right: 4px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    /* position: relative;
    width: fit-content;
    border-right: 4px solid #1e3a5f;
    padding-right: 4px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(40) 1s 1 normal both,
             cursor 750ms steps(40) infinite normal; */
}

@keyframes cursor {
    from { 
        border-right-color: #1e3a5f; 
    }
    to { 
        border-right-color: transparent; 
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100%;}
}